<div class="container text-center">
<h1>About Page</h1>
<p>We are RovrX. We bring the best of the freelance and remote professional
community together. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quibusdam distinctio aspernatur velit reiciendis obcaecati deleniti repellat possimus aliquam praesentium reprehenderit repellendus. Mollitia, laborum, vero inventore earum sint placeat harum.</p>
</div>